<h2>Edit Profile</h2>
<br><br>
<form id="form_complete" action="/home/user/{{user.userid}}/edit" method="POST">
    <input name="firstname" class="input_format login_input_long" type="text" placeholder="firstname">
    <br><br>
    <input name="lastname" class="input_format login_input_long" type="text" placeholder="lastname">
    <br><br>
    <input name="imageurl" class="input_format login_input_long" type="url" placeholder="imageurl">
    <br><br>
    <textarea name="description" id="input_about_you" class="login_input_format login_input_long" rows="5"
        placeholder="a few lines about yourself..."></textarea>
    <br><br>
    <input name="country" class="input_format login_input_long" type="text" placeholder="country">
    <br><br>
    <input name="birthdate" class="input_format login_input_long" type="text" placeholder="date of birth (mm/dd/yyy)">
    <br><br>
    <button class="btn_format_white" id="btn_signup_complete" class="btn_format">save changes</button>
</form>