<header>
    {{!-- Login and Signup page --}}

    {{#if onLoginSignup}}

    <div id="div_top">
        <h1 id="h1_kb">knowledge<span class="logo_base_colour">Base</span></h1>

        {{#if onLogin}}
        <div id="div_login">
            <form action="/login" method="POST">
                <input type="email" class="input_format" placeholder="email" name = "email">
                <input type="password" class="input_format" placeholder="password" name="password">
                <button class="btn_format" id="btn_login">login</button>
            </form>
        </div>
        {{/if}}

    </div>
    {{/if}}

    {{#if onHome}}
    <nav>
        <a id="nav_logo" href="/home/main">k<span class="logo_base_colour">b</span></a>
        <form id="header_search" action="/home/search" method="GET">
            <button type="submit" id="search_button"></button>
            <input id="nav_search" type="text" name="searchValue" placeholder="Search" />
        </form>
        <form action="/logout" method="POST">
            <button id="nav_btn_logout" class="btn_format">logout</button>
        </form>
    </nav>
    {{/if}}

    {{#if onProfile}}
    <nav>
        <a id="nav_logo" href="/home/main">k<span class="logo_base_colour">b</span></a>
        <form id="header_search" action="/home/search">
            <button type="submit" id="search_button"></button>
            <input id="nav_search" type="text" name="searchValue" placeholder="Search" />
        </form>
        <form action="/logout" method="POST">
            <button id="nav_btn_logout" class="btn_format">logout</button>
        </form>
    </nav>
    {{/if}}

    {{#if onMessages}}
    <nav>
        <a id="nav_logo" href="/home/main">k<span class="logo_base_colour">b</span></a>
        <form id="header_search" action="/home/search">
            <button type="submit" id="search_button"></button>
            <input id="nav_search" type="text" name="searchValue" placeholder="Search" />
        </form>
        <form action="/logout" method="POST">
            <button id="nav_btn_logout" class="btn_format">logout</button>
        </form>
    </nav>
    {{/if}}

</header>