<div id="div_make_post">
    <h1>whats your question today?</h1>
    <input class="input_format" type="text" placeholder="subject" />
    <br />
    <textarea name="" id="post_detail" cols="30" rows="10" placeholder="explain in detail ...."></textarea>
    <br />
    <select name="" class="select_drop" id="post_select">
        <option value="topic">Topic</option>
        <option value="php">php</option>
        <option value="sql">sql</option>
        <option value="nodejs">nodejs</option>
    </select>

    <button id="btn_post">post to timeline</button>
</div>