<div id="div_search_topic">
    <h3>Search by topic</h3>
    <select name="" class="select_drop" id="topic_select">
        <option value="" disabled selected>Topic</option>
        <option value="php">php</option>
        <option value="nodejs">nodejs</option>
        <option value="java">java</option>
        <option value="sql">sql</option>
        <option value="zend">zend</option>
    </select>
    <button id="btn_topic_search" class="btn_format">go -></button>
</div>