<div id="div_profile_sum">
    <div id="img_profile">
        <img src="https://randomuser.me/api/portraits/med/men/1.jpg" alt="user" />
    </div>

    <h2>Name</h2>
    <p>Desciption</p>
</div>

<div id="div_links">
    <p>
        <a class="profile_links" href="">Post</a>
        <span class="profile_link_size">#</span>
    </p>
    <p>
        <a class="profile_links" href="">Messages</a>
        <span class="profile_link_size">#</span>
    </p>
    <p>
        <a class="profile_links" href="">Likes</a>
        <span class="profile_link_size">#</span>
    </p>
    <br />
    <p><a class="profile_links" href="">Edit Profile</a></p>
</div>