<h1>
    Join the worlds largest <br>
    community for knowledge <br>
    sharing
</h1>
<br>
<form action="">
    <input class="input_format" type="text" placeholder="firstname">
    <input class="input_format" type="text" placeholder="lastname">
    <br><br>
    <input class="input_format login_input_long" type="email" placeholder="email">
    <br><br>
    <input class="input_format login_input_long" type="password" placeholder="password">
    <br><br>
    <input class="input_format login_input_long" type="password" placeholder="confirm password">
    <br><br>
    <button id="btn_register" class="btn_format">signup</button>
</form>