<a href="/home/user/{{subject2id}}/conversations/{{conversationid}}">
    <div class="div_message_list_item">
        <div class="user_img_list_item">
            <img src="https://randomuser.me/api/portraits/med/men/5.jpg" alt="">
        </div>
        <div class="desc_list_item">
            <!-- todo: change these from placeholder strings to actual values -->
            <div class="message_from">
                Darren James
            </div>

            <div class="message_date">
                Sep 18
            </div>

            <div class="message_subject">
                {{conversationsubject}}
            </div>
        </div>
    </div>
</a>