<div class="div_message_list_item">
    <div class="user_img_list_item">
        {{message.img}}
    </div>  
    <div class="desc_list_item">
        <!-- todo: change these from placeholder strings to actual values -->
        <div class="message_from">
            {{message.from}}
        </div>

        <div class="message_date">
            {{message.date}}
        </div>

        <div class="message_subject">
            {{message.subject}}
        </div>
    </div>
</div>