<div class="div_post">
    <div class="user_img">
        <img src="https://randomuser.me/api/portraits/med/men/5.jpg" alt="">
    </div>

    <div class="post_body">

        <div class="post_head">
            <h3>Title</h3>
            <button class="btn_format_white btn_topic">topic</button>
        </div>

        <div class="post_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed sit amet ultrices risus, at tempor lectus. Sed mollis
            massa ut suscipit posuere. Aenean laoreet euismod erat,
            et tincidunt odio suscipit sit amet.
        </div>

        <div class="post_info">
            <p>Date</p>
            <a href=""># replies</a>
        </div>
    </div>

</div>