<form id="form_complete" action="/register" method="POST">
    <input name="imageUrl" class="input_format login_input_long" type="url" placeholder="imageurl">
    <br><br>
    <textarea name="about" id="input_about_you" class="login_input_format login_input_long" rows="5"
        placeholder="a few lines about yourself..."></textarea>
    <br><br>
    <input name="country" class="input_format login_input_long" type="text" placeholder="country">
    <br><br>
    <input name="birthdate" class="input_format login_input_long" type="text" placeholder="date of birth (mm/dd/yyy)">
    <br><br>
    <button class="btn_format_white" id="btn_signup_complete" class="btn_format">complete registration</button>
</form>