<div class="div_reply_box">
    <form method="POST" action="/home/user/{{userid}}/threads/{{threadid}}/post">
        <textarea name="body" class="reply_box" cols="30" rows="10"
            placeholder="add your reply ...."></textarea><button class="comment_button">comment</button>
    </form>
</div>
