<div class="div_reply">
    <div class="reply_img">
        <img src="{{imageurl}}" alt="" title="" style="" />
    </div>
    <div class="reply_body">
        <div class="reply_text">

            {{body}}
        </div>
    </div>
</div>
