<div id="div_user_profile_sum">
    <div id="img_profile">
        <!-- user.image -->
        <img src="https://randomuser.me/api/portraits/women/48.jpg" alt="user" />
    </div>
    <!--
    <h2>{{user.name}}</h2>
    <p>{{user.description}}</p>
    <p>{{user.country}}</p>
    -->
    <h3>Melinda Gates</h3>
    <p>Team lead | Part time employee | Full time quarantined</p>
    <p class="country">Canada</p>
</div>