<form action="/home/user/{{userid}}/conversations/{{conversations.[0].conversationid}}/message/{{receiverid}}" method="POST">
    <div class="div_write_message">
        <textarea id="write_message" name="body" placeholder="Write a message ...."></textarea>
    </div>
    <div class="div_send_message">
        <button id="message_box_button">Send</button>
    </div>
</form>

<script type="text/javascript" src="/js/write_message_box.js"></script>