<div class="div_write_message">
    <textarea 
        id="write_message" 
        name="msg_content" 
        placeholder="Write a message ...."
    ></textarea>
</div>
<div class="div_send_message">
    <form action="/home/user/{{userid}}/conversations/{{conversationid}}/message" method="POST">
        <button id="message_box_button">Send</button>
    </form>
</div>

<script type="text/javascript" src="/js/write_message_box.js"></script>
