<div class="div_write_message">
    <textarea 
        id="write_message" 
        name="msg" 
        placeholder="Write a message ...."
        onkeyup="canSend()"
    ></textarea>
</div>
<div class="div_send_message">
    <button id="message_box_button">Send</button>
</div>

<script type="text/javascript">    
    const messageBoxButton = document.getElementById("message_box_button");
    messageBoxButton.style.cursor = "not-allowed";
    messageBoxButton.disabled = true; 
    messageBoxButton.style.backgroundColor = "#3c7fc28c";
    
    messageBoxButton.onclick = function () {
        console.log("test");
    }

    function canSend() {
        if(document.getElementById("write_message").value==="") { 
            messageBoxButton.disabled = true; 
            messageBoxButton.style.backgroundColor = "#3c7fc28c";
            messageBoxButton.style.cursor = "not-allowed";
        } else { 
            messageBoxButton.disabled = false;
            messageBoxButton.style.backgroundColor = "#00A2E8";
            messageBoxButton.style.cursor = "pointer";
        }
    }
</script>