<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/common_css.css">

    {{#if onLoginSignup}}
    <link rel="stylesheet" href="/css/login_css.css">
    {{/if}}

    {{#if onHome}}
    <link rel="stylesheet" href="/css/home_css.css">
    {{/if}}

    {{#if onProfile}}
    <link rel="stylesheet" href="/css/profile_css.css">
    {{/if}}

    {{#if onMessages}}
    <link rel="stylesheet" href="/css/messages_css.css">
    {{/if}}
</head>



<body>
    <header>
        {{>header}}
    </header>

    <div id="container">
        {{{body}}}
    </div>
</body>
<footer>
    {{{footer}}}
</footer>

</html>