<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />

</head>
<header>
    {{{header}}}
</header>

<body>
    {{{body}}}
</body>
<footer>
    {{{footer}}}
</footer>

</html>