<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/common_css.css">

    {{#if login_signup_page}}
    <link rel="stylesheet" href="/css/login_css.css">
    {{/if}}

</head>



<body>
    <header>
        {{>header}}
    </header>

    <div id="container">
        {{{body}}}
    </div>
</body>
<footer>
    {{{footer}}}
</footer>

</html>