<body>
    <form action="/register" method="POST">
        <input name="imageurl" />
        <input name="about" />
        <input name="country" />
        <input name="birthdate" />
        <input type="submit" />
    </form>
</body>