<div>
    <form action="/login" method="POST">
        <input name="username" />
        <input name="password">
        <input type="submit" />
    </form>
    <form action="/signup" method="POST">
        <input name="firstname" />
        <input name="lastname" />
        <input name="email" />
        <input name="password" />
        <input name="confirm_password">
        <input type="submit" />
    </form>
</div>