<div id="div_left">
    <div id="div_message_list">
        {{>message_list_item}}
        {{>message_list_item}}
    </div>
</div>

<div id="div_right">
    <div id="div_message_box">
        {{>message_box}}
    </div>
</div>