<div id="sendUserMessage">
    <div id="div_left">
        <div id="img_send_message">
            {{user.image}}
            <!--placeholder
            <img src="https://randomuser.me/api/portraits/women/48.jpg" alt="user" />
            -->
        </div>
    </div>
    <div id="div_left">
        <input class="input_format" type="text" placeholder="subject" />
        <br />
        <textarea name="" id="message_detail" cols="30" rows="10" placeholder="message details ...."></textarea>
        <br />
        <button class="send_message_button">Message</button>
    </div>
</div>