/* Left side of page ----------------------------------------------------------------------*/

#div_left{
    float: left;
    height: 500px;
    width: 20%;
    margin-top: 50px;
}

#div_user_profile_sum{
    width: 100%;
    float: left;
}

#div_user_profile_sum h3{
    font-size: 20pt;
}

#div_top_left{
    width: 70%;
}


/* ----------------------------------------------- */
#img_profile{
    width: 180px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 30px;
}

#img_profile img{
    width: 100%;
    border-radius: 50%;
    padding:2px;
    border:1px solid #e6e8eca2;
}

#div_user_profile_sum h3, p{
    margin: 5px;
}

#div_user_profile_sum p{
    color: var(--text-color);
}

.country{
    font-size: 9pt;
}

/* Right side of page -----------------------------------------------------------------*/

#div_top_right{
    width: 30%;
    margin-top: 110px;
    float: right;
}

#img_send_message{
    width: 80px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 30px;
}

#img_send_message img{
    border-radius: 50%;
    padding:2px;
    border:1px solid #e6e8eca2;
}

#div_right{
    height: 500px;
    width: 70%;
    padding: 15px;
    margin-top: 50px;
}

.message_button{
    margin-bottom: 10px;
    color: white;
    background-color: rgb(25, 111, 192);
    border: none;
    padding: 10px;
    border-radius: 8%;
    cursor: pointer;
}

.send_message_button{
    color: white;
    background-color: var(--base-color);
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.like_button{
    color: white;
    background-color: var(--base-color);
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.user_profile_link_size{
    color: rgb(15, 128, 177);
}

.user_profile_links{
    color: rgb(15, 128, 177);
    text-decoration: none;
}

.input_format{
    margin-bottom: 20px;
}

#message_detail{
    width: 400px;
}

/* ----------------------------------------------- */

#div_discussion{
    width: 100%;
    height: 400px;
}

#div_discussion h2{
    color: var(--text-color);
}

.div_post{
    width: 80%;
    height: 150px;
    margin-top: 10px;
}

.user_img{
    width: 15%;
    float: left;
    margin: 10px
}

.user_img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.post_body{
    width: 75%;
    float: right;
    margin-left: 15px;
}

.post_head{
    height: 40px;
    color: var(--text-color);
}

.post_head h3{
    float: left;
    font-size: 25px;
}

.btn_format_white.btn_topic{
    width: 70px;
    height: 30px;
    float: right;
    margin-right: 15px;
}

.post_text{
    padding-left: 25px;
}

.post_info{
    padding-left: 25px;
    margin-top: 5px;
    height: 20px;
}

.post_info p{
    float: left;
    margin-top: 0;
}

.post_info a{
    float: right;
    margin-right: 15px;
}

/* ----------------------------------------------- */

.post_replies{
    width: 90%;
    float: left;
}

.div_reply_box{
    width: 90%;
}


.div_reply{
    width: 90%;
    min-height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.reply_img{
    width: 13%;
    float: left;
    margin-right: 10px;
}

.reply_img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.reply_text{
    float: left;
    width:74%;
}

.reply_box{
    margin-left: 35px;
    width: 85%;
    height: 100px;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    padding: 10px;
}

.comment_button{
    float: right;
    color: white;
    background-color: #00A2E8;
    margin-right: 10%;
    border: none;
}

#div_top{
    width: 100%;
    height: 350px;
}

#div_bottom{
    width: 100%;
}

#div_user_posts{
    width:80%;
}